@font-face {
    font-family: "OpenSauce-Bold";
    src: local("/assets/fonts/open-sauce-sans-black.ttf") format("truetype");
}

H1 {
    font-family: "OpenSauce-Bold", sans-serif;
    color: #2E2C2B;
    font-size: 40px;
}

H2 {
    font-family: "OpenSauce-Bold", sans-serif;
    color: #2E2C2B;
    font-size: 36px;
}

H3 {
    font-family: "OpenSauce-Bold", sans-serif;
    color: #2E2C2B;
    font-size: 32px;
}

@font-face {
    font-family: "OpenSauce-Italic";
    src: local("/assets/fonts/open-sauce-sans-italic.ttf") format("truetype");
}

H4 {
    font-family: "OpenSauce-Italic", sans-serif;
    color: #2E2C2B;
    font-size: 32px;
}

@font-face {
    font-family: "OpenSauce-Regular";
    src: local("/assets/fonts/open-sauce-sans-regular.ttf") format("truetype");
}

.text, p {
    font-family: "OpenSauce-Regular", sans-serif;
    color: #2E2C2B;
    font-size: 20px;
}

body {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.dash-app {
    font-family: "OpenSauce-Regular", sans-serif;
    color: #2E2C2B;
    font-size: 18px;
}

button {
    font-family: "OpenSauce-Regular", sans-serif;
    width: 100%;
    max-width: 200px;
}
