@font-face {
    font-family: "Roboto-Bold";
    src: local("/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

h1 {
    font-family: "Roboto-Bold", sans-serif;
    color: #2E2C2B;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-family: "Roboto-Bold", sans-serif;
    color: #2E2C2B;
    font-weight: bold;
    font-size: 36px;
}

@font-face {
    font-family: "Roboto-Italic";
    src: local("/assets/fonts/Roboto-Italic.ttf") format("truetype");
}

h3 {
    font-family: "Roboto-Italic", sans-serif;
    color: #2E2C2B;
    font-size: 32px;
}

@font-face {
    font-family: "Roboto-Regular";
    src: local("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

.text, p {
    font-family: "Roboto-Regular", sans-serif;
    color: #2E2C2B;
    font-size: 20px;
}

body {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.dash-app {
    font-family: "Roboto-Regular", sans-serif;
    color: #2E2C2B;
    font-size: 18px;
}

button {
    font-family: "Roboto-Regular", sans-serif;
    width: 100%;
    max-width: 200px;
}
